/* CSS file */
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
	src: url("../libs/Gotham-Bold.otf");
    font-family: Gotham-Bold;
	advanced-anti-aliasing: true;
}
@font-face {
	src: url("../libs/Gotham-Book.otf");
	font-family: Gotham-Book;
	advanced-anti-aliasing: true;
}
@font-face {
	src: url("../libs/Gotham-Medium.otf");
	font-family: Gotham-Medium;
	advanced-anti-aliasing: true;
}

@font-face {
	src: url("../libs/romeral.otf");
	font-family: Romeral;
}

@font-face {
	src: url("../libs/Museo_Slab_500.otf");
	font-family: Museo-Slab-500;
}

@font-face {
	src: url("../libs/Museo_Slab_900.otf");
	font-family: Museo-Slab-900;
	embedAsCFF: true;
}